[Unit]
Description=Enroll SilverWork MOK on first boot
ConditionPathExists=/usr/share/silverwork/MOK.der
ConditionPathExists=!/var/lib/silverwork/.mok-enrolled
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '(echo "scachy"; echo "scachy") | mokutil --import /usr/share/silverwork/MOK.der'
ExecStartPost=/usr/bin/mkdir -p /var/lib/silverwork
ExecStartPost=/usr/bin/touch /var/lib/silverwork/.mok-enrolled

[Install]
WantedBy=multi-user.target